head{
  position: relative;
}
nav{
  width: 600px;
  height: 100%;
  position: absolute;
  top: 0;
  left: -1000px;
  border:solid 1px black;
  background-color: #333;
  transition: .5s;
}
nav .box-sound{
  margin-top:70px;
  /* border:solid 2px red; */
  display: flex;
  padding:10px;
}

span{
  position: absolute;
  top: -20px;
  left: 20px;
  font-size: 100px;
  cursor: pointer;
  color: #d48686;
}

.open-sidebar nav{
  left: 0;
  transition: .5s;
}

.btn-sound button{
  font-size: 50px;
  border-radius: 10%;
  border:none;
  cursor: pointer;
  transition: .5s;
}
.btn-sound button:hover{
  background-color:#474343;
}
label{
  color:white;
}
.label{
  display: flex;
  flex-direction: column;
}
body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: #f5f5dc;
    font-family: Arial, sans-serif;
    /* background-image: url(/wowo.gif); */
    /* background-size: cover; */
    /* backdrop-filter: blur(3px); */
    
  }
  .clock {
    position: relative;
    margin-top:10px;
    width: 500px;
    height: 500px;
    border: 8px solid #333;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #fff;
  }

  .digital-time {
    margin-top:10px;
    position: absolute;
    top: -140px;
    font-size: 32px;
    font-weight: bold;
  }
#digital-time{
  font-size: 100px;
}
  .hand {
    /* border:solid 1px red; */
    position: absolute;
    background-color: #333;
    transform-origin: bottom;
    transition: transform 0.1s ease-out;
  }

  .hour {
    /* justify-content: center; */
    /* align-items: center; */
    width: 6px;
    height: 120px;
    top: 115px;
    border-radius: 200px;
  }

  .minute {
    width: 4px;
    height: 170px;
    top: 60px;
    border-radius: 200px;
  }

  .second {
    width: 2px;
    height: 190px;
    top: 45px;
    background-color: red;
    border-radius: 200px;
  }

  .number {
    position: absolute;
    font-size: 30px;
    font-weight: bold;
    /* top:-500%; */
  }

  .num12 { top: 20px; left: 235px; }
  .num3 { top: 220px; left: 460px; }
  .num6 { top: 440px; left: 240px; }
  .num9 { top: 220px; left: 20px; }
  /* .num1 { top:70px; left:390px;}
  .num2 { top:150px; left:440px;} */


.dot{
  border:solid 1px black;
  background-color: gray;
  border-radius:100%;
  width: 15px;
  height: 15px;
  z-index: 10;
  top: 45%;
  position: absolute;
}
